.container{
    padding: 0.5rem;

    border: 1px solid black;
    border-radius: 10px;
    width: 55px;
    
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
}

.container:hover{
    background-color: black;
    color: white;
}